* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace, 'courier new', courier;
  background-color: #e2d7d4;
}

header {
  justify-content: space-between;
  text-align: center;
  background-color: #6932a8;
  display: flex;
}

footer {
  text-align: center;
}

.space {
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  
}


h1 {
  text-align: center;

  font-size: 20px;
}

#nav-bar {
  display: flex;
  color: azure;
}


#about-photo {
  width: 50%;
  position: relative;
  top: 50px; left: 50%;
  transform: translate(-50%, -10%);
  border-width: 50px white;
  padding-bottom: 20px;
  padding-top: 20px;
}

#nav-bar a li {
  margin-right: 10px;
  list-style-type: none;
}



#work-one {
  width: 75%;
}

h2 {
  font-size: large;
}