* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace, 'courier new', courier;
  background-color: #e2d7d4;
}

header {
  color: azure;
  justify-content: space-between;
  text-align: center;
  background-color: #6932a8;
  display: flex;
}

#about-photo {
  width: 50%;
  position: relative;
  top: 50px; left: 50%;
  transform: translate(-50%, -10%);
  border-width: 50px white;
  padding-bottom: 15px;
  padding-top: 20px;
 
}

.about-me {
  margin: 5px;
  border: 2px solid lightblue;
}

.cat-photos #self-made {
  justify-content: space-evenly;
  padding: 2%;
  margin: 5px;
  border: 15px; 
 
}
span:hover + #self-made {
  border: 5px solid purple;
}

.cat-photos  {
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

.cat-photos #ivy{
  width: 15%;
  display: flex;
}

.cat-photos #lilith {
  width: 15%;
  display: flex;
  padding: 0%;
  margin:auto white;
} 

footer {
  text-align: center;
}

.space {
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.space #work-five {
  text-align: center;
}


h1 {
  text-align: center;

  font-size: 30px;
}

#nav-bar {
  display: flex;
  color: azure;
}



#nav-bar a li {
  margin-right: 10px;
  list-style-type: none;
}



#work-one {
  width: 75%;
}

h2 {
  font-size: large;
}
