* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  font-size: large;
}

h3{
  font-size: 20px;
  
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  font-size: large;
}

h3{
  font-size: 20px;
  
}


body {
  font-family: monospace, 'courier new', courier;
  background-color: #e2d7d4;
}

header {
  color: gray;
  justify-content: space-between;
  text-align: center;
  background-color: lightblue;
  display: flex;
  height: 20px;
}

#nav-bar {
  display: flex;
  
}

#nav-bar a li {
  margin-right: 10px;
  list-style-type: none;
}

#about-photo {
  width: 50%;
  position: relative;
  top: 35px; left: 50%;
  transform: translate(-50%, -10%);
  margin: 5px;
  border-width: 50px white;
  padding-top: 10px;
  box-shadow: 7px 7px rgb(58, 58, 70);
 
}

.about-me {
  margin: 5px solid lightblue;
  border: 5px solid lightblue;
}

.cat-photos #self-made {
  justify-content: space-evenly;
  padding: 2%;
  margin: 5px;
  border: 10px; 
 
}
span:hover + #self-made {
  border: 5px solid purple;
}

.cat-photos  {
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

.cat-photos #ivy{
  width: 15%;
  display: flex;
}

.cat-photos #lilith {
  width: 15%;
  display: flex;
  padding: 0%;
  margin:auto white;
} 



.space {
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
/* 
. {
text-align: center;
  display: flex;
  padding-top: 3px;
  margin: 0 0;
} */

#work-one {
  width: 75%;
}



#work-five {
  width: 35%;
  text-align: center;
}
footer {
  text-align: center;
}